    body {
    background: url(Images/depositphotos_38402439-stock-illustration-seamless-background-of-shoes-prints.png);
    background-repeat: repeat;
}

.navbar {
    background-color: rgb(165, 157, 157, 0.5);
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }

.jumbotron {
    margin-top: 86px;
    padding: 10px;


}

.cover {
    margin-top: 100px;
    text-align: center;
    background-color: rgb(10, 10, 10, 0.5);
}


@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
  }

  @media (min-width: 992px) {
    
  }

  @media (min-width: 1200px) {
    
}

html,
body,
header,
.view {
    height: 100%;
}
