html,
body,
header,
.view {
    height: 100%;
}

body {
    background: url(Images/Footprints.png);
    background-repeat: repeat;
    background-position:center center;
}


ul {
    list-style-type:none;
    columns: 2;
}

.navbar {
    background-color: rgb(165, 157, 157, 0.5);
    line-height:normal;
}

.top-nav-collapse {
    background-color: #4285F4;
}

.formProm {
    align-content: stretch;
    margin-top: 86px;
    background-color: rgb(2, 0, 14, 0.5);
}

.jumbotron {
    margin-top: 86px;
    padding: 10px;
}

@media (max-width: 768px) {

    }

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
  }

  @media (min-width: 992px) {
    
  }

  @media (min-width: 1200px) {
    
}


